{% extends "base.html" %}
{% load compress staticfiles %}

{% block title %}My Checks - healthchecks.io{% endblock %}


{% block content %}
<div id="navbar" class="navbar-collapse collapse">
    <ul id="nav-main-sections" class="nav navbar-nav">
            <li {% if page == 'blogs' %} class="active" {% endif %}>
                <a href="{% url 'hc-create_blog' %}">Create Blog</a>
            </li>

            <li {% if page == 'blogs' %} class="active" {% endif %}>
                <a href="{% url 'hc-list_blog' %}">Edit Blog</a>
            </li>
    </ul>
    
</div>

{% if blog %}
    <div>
    <p><strong>Blog Title: </strong>{{blog.title}}</p>
    <p><strong>Blog Content: </strong>{{blog.content}}</p>
    <p><strong> Date Published: </strong>{{blog.published}} </p>
    <p><strong>Blog Category: </strong>{{blog.category}}</p>
    <div class="row">
            <div class="col-sm-6">
                <a class="btn btn-primary btn-lg" href="{% url 'hc-delete_blog' blog.pk%}" role="button">Delete Blog</a>
            </div>
            <div class="col-sm-6">
                    <a class="btn btn-primary btn-lg" href="{% url 'hc-edit_blog' blog.pk %}" role="button">Edit Blog</a>
            </div>
         </div>
    </div>

{% else %}
    <p>Nothing was created.</p>
{% endif %}

{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/nouislider.min.js' %}"></script>
<script src="{% static 'js/clipboard.min.js' %}"></script>
<script src="{% static 'js/checks.js' %}"></script>
{% endcompress %}
{% endblock %}
